<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>OCR WEB-APP</title>
</head>
<body>
<!-- component -->
<div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form
                class="py-6 px-9"
                action="{{url_for('ocr')}}"
                method="POST"
                enctype="multipart/form-data"
        >
            <div class="mb-6 pt-4">
                <label class="mb-5 block text-xl font-semibold text-[#07074D]">
                    Upload File
                </label>

                <div class="mb-8">
                    <input type="file" name="file" id="file" class="sr-only"/>
                    <label
                            for="file"
                            class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center"
                    >
              <span class="mb-2 block text-xl font-semibold text-[#07074D]">
                Drop files here
              </span>
                        <span class="mb-2 block text-base font-medium text-[#6B7280]">
                Or
              </span>
                        <span
                                class="inline-flex rounded border border-[#e0e0e0] py-2 px-7 text-base font-medium text-[#07074D]"
                        >
                Browse
              </span>
                    </label>
                </div>
            </div>
            <div class="mb-6 pt-4">
                <label class="mb-5 block text-xl font-semibold text-[#07074D]">
                    Extracted Text
                </label>

                <div class="mb-8">
                    <div class="max-w-2xl mx-auto">

                        <textarea id="message" rows="7"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  disabled="true">{{ ocr_text }}</textarea>

                    </div>
                    <div>
                        <button
                                class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none mt-8"
                        >
                            Send File
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>